.bookListItem {
	display: flex;
	margin: 15px 0;

	.bookCover {
		flex-shrink: 0;
		width: 120px;
		margin-right: 30px;

		img {
			max-width: 100%;
		}
	}

  .bookDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;

    .bookPrice {
      font-size: 1.4rem;
    }
    .bookTitle {
      font-size: 1.2rem;
    }
  }
}
